body {
  font-family: sans-serif;
  background-color: lightseagreen;
}

.circle {
  background-color: skyblue;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  font-size: 24px;
  position: absolute;
}
